@import "tailwindcss";

@theme{
  --color-purple-01: #F9EEFF;
  --color-purple-02: #F5E5FD;
  --color-purple-03: #AC85BE;
  --color-purple-04: #5F3C6F; 
  --color-gray-01: #FFFFFF;
  --color-gray-02: #FCFCFD;
  --color-gray-03: #F6F6F6;
  --color-gray-04: #E5E5E5;
  --color-gray-05: #C8CED9;
  --color-gray-06: #A8B3C4;
  --color-gray-07: #6D7785;
  --color-gray-08: #1A1A1A;

  --font-family-inter: "Inter_400Regular", "Inter_500Medium", "Inter_600SemiBold", "Inter_700Bold", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-sm1: 12px;
  --text-sm2: 14px;
  --text-sm3: 16px;
  --text-sm4: 18px;
  --text-sm5: 20px;
  --text-r1: 12px;
  --text-r2: 14px;
  --text-r3: 16px;
  --text-r4: 18px;
  --text-r5: 20px;
  --text-sb1: 12px;
  --text-sb2: 14px;
  --text-sb3: 16px;
  --text-sb4: 18px;
  --text-sb5: 20px;
  --text-b1: 12px;
  --text-b2: 14px;
  --text-b3: 16px;
  --text-b4: 18px;
  --text-b5: 20px;
  --text-m1: 12px;
  --text-m2: 14px;
  --text-m3: 16px;
  --text-m4: 18px;
  --text-m5: 20px;
  --text-h1: 32px;
  --text-h2: 28px;
  --text-h3: 24px;
  --text-h4: 20px;
  --text-h5: 18px;
}
